.git
.vs
.vscode

.env
.env.dev
.env.prod

cloudflared/credentials.json
nginx/ssl/*

**/bin/
**/obj/
**/TestResults/
**/node_modules/
**/*.trx
**/*.log
**/coverage*.xml
**/coverage*.json
**/coverage*.info

postgres-data/
