.git
.vs
.vscode

.env
.env.dev
.env.prod
config/env/.env
config/env/.env.dev
config/env/.env.prod

infra/cloudflared/credentials.json
infra/nginx/ssl/*

**/bin/
**/obj/
**/TestResults/
**/node_modules/
**/*.trx
**/*.log
**/coverage*.xml
**/coverage*.json
**/coverage*.info

postgres-data/
